html body {
  height: 100%;
  background-color: #F8F8F8;
  direction: ltr;
  font-family: 'Montserrat', sans-serif;
  /* font-weight: 900; */
}

.text-primary {
  color: #003bb3 !important;
}

.vue-advanced-cropper__background,
.vue-advanced-cropper__foreground {
  background: chocolate !important;
}